In [1]:
import numpy as np
import pandas as pd

In [11]:
raw_txt = pd.read_csv("T:/RNA/Baltimore/Student Data Science/Hackathon/Oct2017/Task1/data_alin/bb_text.csv", encoding="cp1252" )

In [12]:
raw_txt.head()

,ID,GRADABLE_ITEM_POINTS_POSSIBLE,GRADABLE_ITEM_POINTS_RECEIVED,subject,msg_text
0,A00191680,55,55.0,RE: Please introduce yourself,Hi Karief! So glad to meet you! I also have tw...
1,A00191680,55,55.0,RE: Discussion - Week 1,"Wow, Kristen! I would prefer to speak about hu..."
2,A00191680,55,55.0,RE: Please introduce yourself,"Hello Mirela, So nice to meet you! I actually ..."
3,A00191680,55,55.0,RE: Discussion - Week 1,"Hello Teresa, I like your point about being ab..."
4,A00191680,55,55.0,RE: Discussion - Week 1,"Hello Amanda, Your post brought out a valid po..."

In [6]:
%qtconsole