In [1]:
import os
import numpy as np
import pandas as pd
import platform
import pickle
from pathlib import Path

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
if platform.system() == 'Linux':
    data_dir = '/home/alin/Data/DS_Competition'
else:
    data_dir = 'C:/Users/alin/Documents/Data/DS_Competition'

In [5]:
item_categories = pd.read_csv(data_dir + '/item_categories.csv')
items = pd.read_csv(data_dir + '/items.csv')
shops = pd.read_csv(data_dir + '/shops.csv')

sales_train_dump = data_dir + '/sales_train.p'
if Path(sales_train_dump).is_file():
    print('load previous dump')
    sales_train = pickle.load(open(sales_train_dump, 'rb'))
else:
    print('load from original csv')
    sales_train = pd.read_csv(data_dir + '/sales_train.csv')
    sales_train['year'] = sales_train.apply(lambda r: int(r['date'][6:]), axis=1)
    sales_train['month'] = sales_train.apply(lambda r: int(r['date'][3:5]), axis=1)
    sales_train['day'] = sales_train.apply(lambda r: int(r['date'][:2]), axis=1)
    sales_train['year_month'] = sales_train.apply(lambda r: r['year']*100 + r['month'], axis=1)
    sales_train['weekday'] = sales_train.apply(lambda r: datetime.datetime(r['year'], r['month'], r['day']).weekday() + 1, axis=1)
    sales_train['transaction'] = 1
    sales_train['money'] = sales_train.apply(lambda r: r['item_price'] * r['item_cnt_day'], axis=1)
    sales_train = sales_train.join(items, on='item_id', how='inner', rsuffix='_r')
    sales_train = sales_train.drop(['item_id_r', 'item_name'], axis=1)
    sales_train['weekend'] = sales_train.apply(lambda r: 1 if r['weekday'] >= 6 else 0, axis=1)
    sales_train['year'] = sales_train['year'] - 2013
    sales_train = sales_train.rename(columns={'item_cnt_day': 'item_cnt'})
    pickle.dump(sales_train, open(sales_train_dump, 'wb'))

load previous dump

In [6]:
sales_train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt,year,month,day,year_month,weekday,transaction,money,item_category_id,weekend
0,02.01.2013,0,59,22154,999.0,1.0,0,1,2,201301,3,1,999.0,37,0
3270,23.01.2013,0,24,22154,999.0,1.0,0,1,23,201301,3,1,999.0,37,0
17081,20.01.2013,0,27,22154,999.0,1.0,0,1,20,201301,7,1,999.0,37,1
25918,02.01.2013,0,25,22154,999.0,1.0,0,1,2,201301,3,1,999.0,37,0
25919,03.01.2013,0,25,22154,999.0,1.0,0,1,3,201301,4,1,999.0,37,0

In [7]:
sales_pre = sales_train[sales_train.year_month == 201510][['shop_id', 'item_id', 'item_cnt']]

In [8]:
sales_pre.shape

(53514, 3)

In [9]:
%qtconsole

In [25]:
sales_pre_month = sales_pre.groupby(by=['shop_id', 'item_id']).sum()['item_cnt'].to_frame()

In [29]:
test = pd.read_csv(data_dir + '/test.csv')

In [31]:
test1 = test.join(sales_pre_month, on=['shop_id', 'item_id'], how='left', rsuffix='_r')

In [35]:
test1.fillna(0, inplace=True)

In [37]:
test1['item_cnt_month'] = test1['item_cnt']

In [39]:
output = test1[['ID', 'item_cnt_month']]

In [61]:
output['item_cnt_month'] = output.apply(lambda r: 20 if r['item_cnt_month'] > 20 else r['item_cnt_month'], axis=1)

c:\users\alin\envs\datascience3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
output.to_csv(data_dir + '/submission4.csv', index=False)