## EDA OF THE FINAL PROJECT

In [1]:
import os
import numpy as np
import pandas as pd
import platform
import pickle
from dateutil import parser
from pathlib import Path

In [2]:
%qtconsole

In [3]:
if platform.system() == 'Linux':
    data_dir = '/home/alin/Data/DS_Competition'
else:
    data_dir = 'C:/Users/alin/Documents/Data/DS_Competition'

### Load Data

In [4]:
sales_train_dump = data_dir + '/sales_train.p'
if Path(sales_train_dump).is_file():
    print('load previous dump')
    sales_train = pickle.load(open(sales_train_dump, 'rb'))
else:
    print('load from original csv')
    sales_train = pd.read_csv(data_dir + '/sales_train.csv')
    sales_train['dt'] = sales_train.apply(lambda r: parser.parse(r['date']), axis=1)
    sales_train['year'] = sales_train.apply(lambda r: r['dt'].year, axis=1)
    sales_train['month'] = sales_train.apply(lambda r: r['dt'].month, axis=1)
    sales_train['day'] = sales_train.apply(lambda r: r['dt'].day, axis=1)
    sales_train['weekday'] = sales_train.apply(lambda r: r['dt'].weekday(), axis=1)
    pickle.dump(sales_train, open(sales_train_dump, 'wb'))

load previous dump

In [26]:
sales_train.shape

(2935849, 11)

In [27]:
sales_train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,dt,year,month,day,weekday
0,02.01.2013,0,59,22154,999.00,1.0,2013-02-01,2013,2,1,4
1,03.01.2013,0,25,2552,899.00,1.0,2013-03-01,2013,3,1,4
2,05.01.2013,0,25,2552,899.00,-1.0,2013-05-01,2013,5,1,2
3,06.01.2013,0,25,2554,1709.05,1.0,2013-06-01,2013,6,1,5
4,15.01.2013,0,25,2555,1099.00,1.0,2013-01-15,2013,1,15,1

### Check Missing Values

#### No missing value

In [30]:
sales_train.isnull().sum(axis=0)

date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dt                0
year              0
month             0
day               0
weekday           0
dtype: int64